#!/bin/bash
#====================================================
# 
#====================================================

listAddr="10.10.10.10
 10.10.10.11
 10.10.10.12"

pport=22
lUser1="root"

webHost="10.10.10.1"

dbHost="localhost"
dbUser="user"
dbPass="pass"

