#!/bin/bash
#====================================================
# 
#====================================================

listAddr="10.10.10.10
 10.10.10.11
 10.10.10.12"

pport=22

mHost="localhost"
mUser="user"
mPass="pass"

